<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sa_lindungi">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaLindungi"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.donation.transaction.listTransaction.ListTransactionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.transaction.status.DonationStatusActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.transaction.DonationCheckActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.transaction.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.donationSatwa.DonationSatwaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.donationDetail.DonationDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.donation.DonationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.scanAnimal.result.ResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.scanAnimal.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".UI.scanAnimal.OptionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UI.home.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>